@model fftoolkit.Web.ViewModels.TradesViewModel

<div class="card">
    <div class="card-header filter-header">
        @if (Model.MyTeam ==  null)
        {
            <span>(pick your team)</span>
        }
        else
        {
            <span>@Model.MyTeam.Name</span>
        }
    </div>
    <div class="list-group">
        @foreach (var filter in Model.MyFilters)
        {
            <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                @if (filter == null)
                {
                    <span class="trade-filter-item-default">
                        (any player/position)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Player && filter.Player != null)
                {
                    <span>
                        @filter.Player.Name (@filter.Player.Position, @filter.Player.Team)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Position && filter.Position != null)
                {
                    <span class="trade-filter-item-default">
                        @filter.Position
                    </span>
                }
            </div>
        }
    </div>
</div>

<div class="card">
    <div class="card-header filter-header">
        @if (Model.MyTeam == null)
        {
            <span>All Teams</span>
        }
        else
        {
            <span>@Model.TheirTeam.Name</span>
        }
    </div>

    <div class="list-group">
        @foreach (var filter in Model.TheirFilters)
        {
            <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                @if (filter == null)
                {
                    <span class="trade-filter-item-default">
                        (any player/position)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Player && filter.Player != null)
                {
                    <span>
                        @filter.Player.Name (@filter.Player.Position, @filter.Player.Team)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Position && filter.Position != null)
                {
                    <span class="trade-filter-item-default">
                        @filter.Position
                    </span>
                }
            </div>
        }
    </div>
</div>

