<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fantasy Football Tool Kit</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/DataTables/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
</head>
<body>
    <div class="bg-dark">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                @Html.ActionLink("Fantasy Football Toolkit", "Index", "Home", null, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li>@Html.ActionLink("Leagues", "Index", "League", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Players", "Index", "Player", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Trades", "Index", "Trade", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Admin", "Index", "Admin", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Drafts", "Index", "Draft", null, new { @class = "nav-link" })</li>
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fantasy Football Tool Kit</p>
        </footer>
    </div>

    <script type="text/javascript" src="~/js/filereader.js"></script>
    <script type="text/javascript" src="~/js/qrcodelib.js"></script>
    <script type="text/javascript" src="~/js/webcodecamjs.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/DataTables/scripts")
    @*@Scripts.Render("~/QrCodes/scripts")*@
    @*@Scripts.Render("~/Scripts/MyScripts")*@
    @RenderSection("scripts", required: false)
</body>
</html>
