@model fftoolkit.DB.Model.Player

@{ 
    var tradedPlayerClass = "";
    if (ViewData["TradedPlayerClass"] != null) { tradedPlayerClass = ViewData["TradedPlayerClass"].ToString(); }
}

<div class="@tradedPlayerClass">
    <div class="trade-player">@Model.Name (@Model.Position, @Model.Team)</div>
    <div class="trade-player-points">
        @Html.DisplayFor(m => m.FantasyPoints)
    </div>
</div>