@model fftoolkit.DB.Models.Player

<div>
    <div class="trade-player">@Model.Name (@Model.Position, @Model.Team)</div>
    <div class="trade-player-points">
        @Html.DisplayFor(m => m.FantasyPoints) (@Html.DisplayFor(m => m.TradeValue))
    </div>
</div>