@model fftoolkit.Web.ViewModels.TradeViewModel

@{
    ViewBag.Title = "Find Trades";
}

<h2>Find Trades</h2>

@using (Html.BeginForm("Edit", "League", FormMethod.Post))
{
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 trade-filters">
            <div class="card">
                <div class="card-header">My Team</div>
                <div class="list-group">
                    @foreach (var filter in Model.MyFilters)
                    {
                        <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                            @if (filter == null)
                            {
                                <span class="trade-filter-item-default">
                                    (any player/position)
                                </span>
                            }
                            else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Player && filter.Player != null)
                            {
                                <span>
                                    @filter.Player.Name (@filter.Player.Position, @filter.Player.Team)
                                </span>
                            }
                            else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Position && filter.Position != null)
                            {
                                <span class="trade-filter-item-default">
                                    @filter.Position
                                </span>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="card">
                <div class="card-header">Their Team</div>
                <div class="list-group">
                    @foreach (var filter in Model.TheirFilters)
                    {
                        <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                            @if (filter == null)
                            {
                                <span class="trade-filter-item-default">
                                    (any player/position)
                                </span>
                            }
                            else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Player && filter.Player != null)
                            {
                                <span>
                                    @filter.Player.Name (@filter.Player.Position, @filter.Player.Team)
                                </span>
                            }
                            else if (filter.Type == fftoolkit.Web.ViewModels.TradeFilterType.Position && filter.Position != null)
                            {
                                <span class="trade-filter-item-default">
                                    @filter.Position
                                </span>
                            }
                        </div>
                    }
                </div>
            </div>
            <input type="submit" value="Find Trades" class="btn btn-primary" />
        </div>

        <div class="col-sm-12 col-md-8 col-lg-9">

            <div class="trade-list">
                @if (Model.Trades == null || Model.Trades.Count == 0)
                {
                    <span class="">
                        No trades found.
                    </span>
                }
            </div>

            @if (Model.Trades != null && Model.Trades.Count > 0)
            {
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            }

            @*@for (int i = 0; i < 3; i++)
                {
                    <div class="row trade" data-toggle="modal" data-target="#tradeModal">
                        <div class="col-md-12 col-lg-6">
                            <div class="card">
                                <div class="card-header you-get-header">
                                    You Get
                                </div>
                                <div class="card-body trade-body">
                                    <div>
                                        <div class="trade-player">Case Keenum (QB, DEN)</div>
                                        <div class="trade-player-points">18.22</div>
                                    </div>
                                    <div>
                                        <div class="trade-player">David Johnson (RB, ARI)</div>
                                        <div class="trade-player-points">23.54</div>
                                    </div>
                                    <div>
                                        <div class="trade-player">Ezekiel Elliot (RB, DAL)</div>
                                        <div class="trade-player-points">21.33</div>
                                    </div>
                                </div>
                                <div class="card-footer trade-footer">
                                    <div class="trade-value">
                                        +4.77 PPG
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="card">
                                <div class="card-header they-get-header">
                                    They Get
                                </div>
                                <div class="card-body trade-body">
                                    <div>
                                        <div class="trade-player">Case Keenum (QB, DEN)</div>
                                        <div class="trade-player-points">18.22</div>
                                    </div>
                                    <div>
                                        <div class="trade-player">David Johnson (RB, ARI)</div>
                                        <div class="trade-player-points">23.54</div>
                                    </div>
                                    <div>
                                        <div class="trade-player"></div>
                                        <div class="trade-player-points"></div>
                                    </div>
                                </div>
                                <div class="card-footer trade-footer">
                                    <div class="trade-value">
                                        +4.77 PPG
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@
        </div>
    </div>

<div class="modal" tabindex="-1" role="dialog" id="tradeFilterModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select a Player or Position</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Player</div>
                            <div class="list-group ">
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Case Keenum (QB, DEN)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Leveon Bell (RB, PIT)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    David Johnson (RB, ARI)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Antonio Brown Bell (WR, PIT)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Mide Evans (WR, TB)
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Delanie Walker (TE, TEN)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">Position</div>
                            <div class="list-group ">
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Quarterback
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Running Back
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Wide Receiver
                                </div>
                                <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                                    Tight End
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="tradeModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trade Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row trade trade-detail">
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-header you-get-header">
                                You Get
                            </div>
                            <div class="card-body trade-body">
                                <div>
                                    <div class="trade-player">Case Keenum (QB, DEN)</div>
                                    <div class="trade-player-points">18.22</div>
                                </div>
                                <div>
                                    <div class="trade-player">David Johnson (RB, ARI)</div>
                                    <div class="trade-player-points">23.54</div>
                                </div>
                                <div>
                                    <div class="trade-player">Ezekiel Elliot (RB, DAL)</div>
                                    <div class="trade-player-points">21.33</div>
                                </div>
                            </div>
                            <div class="card-footer trade-footer">
                                <div class="trade-value">
                                    +4.77 PPG
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-header they-get-header">
                                They Get
                            </div>
                            <div class="card-body trade-body">
                                <div>
                                    <div class="trade-player">Case Keenum (QB, DEN)</div>
                                    <div class="trade-player-points">18.22</div>
                                </div>
                                <div>
                                    <div class="trade-player">David Johnson (RB, ARI)</div>
                                    <div class="trade-player-points">23.54</div>
                                </div>
                                <div>
                                    <div class="trade-player"></div>
                                    <div class="trade-player-points"></div>
                                </div>
                            </div>
                            <div class="card-footer trade-footer">
                                <div class="trade-value">
                                    +4.77 PPG
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row trade trade-detail">
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-header you-get-header">
                                Your New Roster
                            </div>
                            <div class="card-body trade-body">
                                <div>
                                    <div class="trade-player trade-positive-player">Case Keenum (QB, DEN)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-positive">
                                            +4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            18.22
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-negative-player">David Johnson (RB, ARI)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-negative">
                                            -4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            23.54
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-positive-player">Ezekiel Elliot (RB, DAL)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-positive">
                                            +4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            21.33
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-negative-player">Mike Evans (WR, TB)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-negative">
                                            -4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            23.54
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-positive-player">Antonio Brown (WR, TB)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-positive">
                                            +4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            17.45
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player">Rob Gronkowski (TE, NE)</div>
                                    <div class="trade-player-points">18.79</div>
                                </div>
                                <div>
                                    <div class="trade-player">Emmanuel Sanders (WR, DEN)</div>
                                    <div class="trade-player-points">17.79</div>
                                </div>
                            </div>
                            <div class="card-footer trade-footer">
                                <div class="trade-value">
                                    +4.77 PPG
                                </div>
                                | 134.64
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="card">
                            <div class="card-header they-get-header">
                                Their New Roster
                            </div>
                            <div class="card-body trade-body">
                                <div>
                                    <div class="trade-player trade-negative-player">Case Keenum (QB, DEN)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-negative">
                                            -4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            18.22
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-positive-player">David Johnson (RB, ARI)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-positive">
                                            +4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            23.54
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-negative-player">Ezekiel Elliot (RB, DAL)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-negative">
                                            -4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            21.33
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-positive-player">Mike Evans (WR, TB)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-positive">
                                            +4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            23.54
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player trade-negative-player">Antonio Brown (WR, TB)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-negative">
                                            -4.77
                                        </div>
                                        <div class="trade-points">
                                            |
                                        </div>
                                        <div class="trade-points">
                                            17.45
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player">Rob Gronkowski (TE, NE)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-points">
                                            18.79
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="trade-player">Emmanuel Sanders (WR, DEN)</div>
                                    <div class="trade-player-points">
                                        <div class="trade-points">
                                            17.79
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer trade-footer">
                                <div class="trade-value">
                                    +4.77 PPG
                                </div>
                                | 134.64
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    for (int i = 0; i < Model.Teams.Count; i++)
    {
        Html.HiddenFor(m => m.Teams[i].Name);
        Html.HiddenFor(m => m.Teams[i].Url);

        for (int j = 0; j < Model.Teams[i].Players.Count; j++)
        {
            Html.HiddenFor(m => Model.Teams[i].Players[j].PlayerId);
            Html.HiddenFor(m => Model.Teams[i].Players[j].Name);
            Html.HiddenFor(m => Model.Teams[i].Players[j].Position);
            Html.HiddenFor(m => Model.Teams[i].Players[j].Team);
            Html.HiddenFor(m => Model.Teams[i].Players[j].PassingYards);
            Html.HiddenFor(m => Model.Teams[i].Players[j].PassingTouchdowns);
            Html.HiddenFor(m => Model.Teams[i].Players[j].Interceptions);
            Html.HiddenFor(m => Model.Teams[i].Players[j].RushingYards);
            Html.HiddenFor(m => Model.Teams[i].Players[j].RushingTouchdowns);
            Html.HiddenFor(m => Model.Teams[i].Players[j].Receptions);
            Html.HiddenFor(m => Model.Teams[i].Players[j].ReceivingYards);
            Html.HiddenFor(m => Model.Teams[i].Players[j].ReceivingTouchdowns);
            Html.HiddenFor(m => Model.Teams[i].Players[j].FantasyPoints);
            Html.HiddenFor(m => Model.Teams[i].Players[j].TradeValue);
        }
    }
}