@model fftoolkit.Web.Models.TradesViewModel

<div class="card">
    <div id="my-filter-header" class="card-header filter-header">
        @if (Model.MyTeam == null)
        {
            <span>(pick your team)</span>
        }
        else
        {
            <span>@Model.MyTeam.Name</span>
        }
    </div>
    <div class="list-group">
        @foreach (var filter in Model.MyFilters)
        {
            <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                @if (filter == null)
                {
                    <span class="trade-filter-item-default">
                        (any player/position)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.Models.TradeFilterType.Player && filter.Player != null)
                {
                    <span>
                        @filter.Player.Name (@filter.Player.Position, @filter.Player.Team)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.Models.TradeFilterType.Position && filter.Position != null)
                {
                    <span class="trade-filter-item-default">
                        @filter.Position
                    </span>
                }
            </div>
        }
    </div>
</div>

<div class="card">
    <div id="their-filter-header" class="card-header filter-header">
        @if (Model.TheirTeam == null)
        {
            <span>All Teams</span>
        }
        else
        {
            <span>@Model.TheirTeam.Name</span>
        }
    </div>

    <div class="list-group">
        @foreach (var filter in Model.TheirFilters)
        {
            <div class="list-group-item list-group-item-action trade-filter-item" data-toggle="modal" data-target="#tradeFilterModal">
                @if (filter == null)
                {
                    <span class="trade-filter-item-default">
                        (any player/position)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.Models.TradeFilterType.Player && filter.Player != null)
                {
                    <span>
                        @filter.Player.Name (@filter.Player.Position, @filter.Player.Team)
                    </span>
                }
                else if (filter.Type == fftoolkit.Web.Models.TradeFilterType.Position && filter.Position != null)
                {
                    <span class="trade-filter-item-default">
                        @filter.Position
                    </span>
                }
            </div>
        }
    </div>
</div>

@if (Model.MyTeam != null)
{
    @Html.HiddenFor(m => m.MyTeam.TeamId)
    @Html.HiddenFor(m => m.MyTeam.Name)
    @Html.HiddenFor(m => m.MyTeam.Url)

    for (int i = 0; i < Model.MyTeam.Players.Count; i++)
    {
        @Html.HiddenFor(m => Model.MyTeam.Players[i].PlayerId)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].Name)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].Position)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].Team)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].PassingYards)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].PassingTouchdowns)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].Interceptions)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].RushingYards)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].RushingTouchdowns)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].Receptions)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].ReceivingYards)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].ReceivingTouchdowns)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].FantasyPoints)
        @Html.HiddenFor(m => Model.MyTeam.Players[i].TradeValue)
    }
}

@if (Model.TheirTeam != null)
{
    @Html.HiddenFor(m => m.TheirTeam.TeamId)
    @Html.HiddenFor(m => m.TheirTeam.Name)
    @Html.HiddenFor(m => m.TheirTeam.Url)

    for (int i = 0; i < Model.TheirTeam.Players.Count; i++)
    {
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].PlayerId)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].Name)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].Position)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].Team)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].PassingYards)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].PassingTouchdowns)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].Interceptions)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].RushingYards)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].RushingTouchdowns)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].Receptions)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].ReceivingYards)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].ReceivingTouchdowns)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].FantasyPoints)
        @Html.HiddenFor(m => Model.TheirTeam.Players[i].TradeValue)
    }
}