@model fftoolkit.Logic.Classes.Trade

<div class="trade-list">
    @if (Model == null)
    {
        <span class="">
            Trade not found.
        </span>
    }
    else
    {
        <div class="row">
            <div class="col-md-12 col-lg-6">
                @* My Trade *@
                @Html.DisplayFor(m => Model.MyTradeSide, "TradeSide")
            </div>
            <div class="col-md-12 col-lg-6">
                @* Their Trade *@
                @Html.DisplayFor(m => Model.TheirTradeSide, "TradeSide")
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                @* My Trade *@
                <div style="display: flex; flex-direction: row;">
                    @Html.DisplayFor(m => Model.MyTradeSide, "OldRosterSide")
                    <div class="roster-card-seperator"></div>
                    @Html.DisplayFor(m => Model.MyTradeSide, "NewRosterSide")
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                @* Their Trade *@
                <div style="display: flex; flex-direction: row;">
                    @Html.DisplayFor(m => Model.TheirTradeSide, "OldRosterSide")
                    <div class="roster-card-seperator"></div>
                    @Html.DisplayFor(m => Model.TheirTradeSide, "NewRosterSide")
                </div>
            </div>
        </div>
    }
</div>
