@model IList<fftoolkit.DB.Model.Player>

@{
    ViewBag.Title = "Player Trade Values";
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var table = $('.table').DataTable({

                //sorting
                "order": [[13, "desc"]],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": false,

                columnDefs: [
                    { targets: [1, 2, 3], "orderable": false },
                ]
            });

            table.column(0, { search: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });
        });

        $("#ddlPositions").on('change', function () {

            var table = $('.table').DataTable();
            var positionQuery = this.value.split("/").join("|");

            table.columns(2).search(positionQuery, true).draw();

            table.column(0, { search: 'applied' }).nodes().each(function (cell, i) {
                cell.innerHTML = i + 1;
            });

            if (positionQuery == "") {
                $(".passing").show();
                $(".rushing").show();
                $(".receiving").show();
            }
            else if (positionQuery == "QB") {
                $(".passing").show();
                $(".rushing").show();
                $(".receiving").hide();
            }
            else if (positionQuery == "WR" || positionQuery == "TE") {
                $(".passing").hide();
                $(".rushing").hide();
                $(".receiving").show();
            }
            else {
                $(".passing").hide();
                $(".rushing").show();
                $(".receiving").show();
            }
        })
    </script>

}

<link rel="stylesheet" type="text/css" href="~/DataTables/datatables.min.css" />

<h2>Player Trade Values</h2>

<div class="player-filter">
    <div class="inline-control player-filter-label">Position:</div>
    <select class="form-control form-control-sm inline-control" id="ddlPositions">
        <option value="">Any</option>
        <option>QB</option>
        <option>RB</option>
        <option>WR</option>
        <option>TE</option>
        <option>RB/WR</option>
        <option>RB/WR/TE</option>
    </select>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th colspan="4" class="blank-header-cell"></th>
            <th colspan="3" class="passing">Passing</th>
            <th colspan="2" class="rushing">Rushing</th>
            <th colspan="3" class="receiving">Receiving</th>
            <th class="blank-header-cell"></th>
        </tr>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Pos</th>
            <th scope="col">Team</th>
            <th scope="col" class="passing">YARD</th>
            <th scope="col" class="passing">TD</th>
            <th scope="col" class="passing">INT</th>
            <th scope="col" class="rushing">YARD</th>
            <th scope="col" class="rushing">TD</th>
            <th scope="col" class="receiving">REC</th>
            <th scope="col" class="receiving">YARD</th>
            <th scope="col" class="receiving">TD</th>
            <th scope="col">PPG</th>
            <th scope="col">TV</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            var player = Model[i];

            <tr>
                <td></td>
                <td>@player.Name</td>
                <td>@player.Position</td>
                <td>@player.Team</td>
                <td class="passing">@Html.DisplayFor(m => m[i].PassingYards)</td>
                <td class="passing">@Html.DisplayFor(m => m[i].PassingTouchdowns)</td>
                <td class="passing">@Html.DisplayFor(m => m[i].Interceptions)</td>
                <td class="rushing">@Html.DisplayFor(m => m[i].RushingYards)</td>
                <td class="rushing">@Html.DisplayFor(m => m[i].RushingTouchdowns)</td>
                <td class="receiving">@Html.DisplayFor(m => m[i].Receptions)</td>
                <td class="receiving">@Html.DisplayFor(m => m[i].ReceivingYards)</td>
                <td class="receiving">@Html.DisplayFor(m => m[i].ReceivingTouchdowns)</td>
                <td class="table-secondary">@Html.DisplayFor(m => m[i].FantasyPoints)</td>
                <td class="fantasy-points table-primary">@Html.DisplayFor(m => m[i].TradeValue)</td>
            </tr>
        }
    </tbody>
</table>